@media  ( max-width: 1200px )
  .swiper-container 
    margin: auto

@media  ( max-width: 991px )
  .swiper-container 
    margin-left: 3px
    margin-right: auto
  
@media  ( max-width: 767px )

  .swiper-container 
    margin: auto
    max-width: 317px
    height: 1000px
  
@media  ( max-width: 420px )
  .swiper-container 
    margin: auto
    max-width: 290px
    height: 850px

@media ( max-height: 430px )
  .header
    &__right
      &__visible
        height: 80vh
        overflow: auto


@media(hover: hover) and (pointer: fine) 
  .header
    &-button
      &:hover
        border: 2px solid #3585f5
        color: #3585f5
  .hero
    &-button
      &:hover
        &:hover
          background-color: #31495c

  .collection
    &__check
      &:hover
        color: #3585f5
  .trending
    &-button
      &:hover
        background-color: #3585f5      
  .story
    &__button
      &-left
        &:hover
          border: 2px solid black
          background-image: url('../img/stories/row-left-active.svg')
      &-right
        &:hover
          border: 2px solid black
          background-image: url('../img/stories/row-right-active.svg')
  
  .subscribe
    &__button
      &:hover
        background-color: #31495c

  .footer
    &__wrapper
      &-heart 
        &:hover
          background-color: #3585f5




