.header
  margin-bottom: 36px
  &-container
    max-width: 1140px
    margin: auto
  &__right
    display: flex
    align-items: center
    justify-content: space-between  
  &-button
    margin-right: 0
    padding: 13px 24px
    border: 2px solid #1565D8
    border-radius: 8px
    color: #1565D8
    background-color: inherit
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    
  &__block
    height: 100px
    display: flex
    justify-content: space-between
    align-items: center   
.list
  &-navigation
    display: flex
    align-items: center
    padding: 0
    margin: 0
  &-link
    text-decoration: none
    color: #183B56
  &-item
    list-style-type: none
    margin-right: 40px
    font-family: 'Open Sans', sans-serif
    font-weight: 600 
    font-size: 16px
    line-height: 22px
.menu-button 
  display: none   
     


