.reviews
  margin-bottom: 80px
  &-container
    max-width: 800px
    margin: auto
  &-block
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 63px
  &-text
    margin-top: 35px
    margin-bottom: 28px
    font-family: "HKGrotesk"
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 42px
    text-align: center
    letter-spacing: 0.133333px
    color: #183B56
  &-name
    font-family: "HKGrotesk"
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 24px
    text-align: center
    letter-spacing: 0.2px
    color: #183B56
.swiper
  &-reviews
    position: relative
    overflow: hidden
  &-pagination
    color: #000000
    &-bullet
      &-active
        background: #183B56
   

